
cache/*
backup
ps-ui
assets-car_fx
assets-vehicleaudio
assets-vehicleaudio2
assets-vehicleconfig
assets-vehicletunerfix
assets-vehiclewheels
cvpiv8-sound
npolchar-sound
ps-liveries1.0
map-atlas
minimap_cayo
assets_paleto_vegetation
assets_replace
assets_roads
assets_trees
assets_vegetation
custom-weapons