.Gang-Attack-app {
  display: none;
  height: 100%;
  width: 100%;
  background: rgb(36, 36, 36);
  overflow: hidden;
}

.Gang-Attack-app-header {
  height: 9vh;
  width: 100%;
  text-align: center;
  line-height: 13.5vh;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.5vh;
  border-bottom: 1px solid black;
  background: rgb(24, 24, 24);
}

.Gang-Attack-app > button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  justify-content: center;
  background-color: rgb(25, 39, 63);
  border: 1px solid rgb(0, 0, 0);

  color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
